---
import NavShell from '@components/NavShell.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { getProjectUrl } from 'src/utils/projects';

type Props = {
  slug: CollectionEntry<'projects'>['slug'];
};

const { slug } = Astro.props;

const projects = (await getCollection('projects')).sort(
  (a, b) => a.data.order - b.data.order,
);

const projectNames = projects.map((project) => project.slug);
const currentProject = projectNames.indexOf(slug);

const previousProject =
  currentProject > 0 ? projects[currentProject - 1] : undefined;
const nextProject =
  currentProject < projects.length - 1
    ? projects[currentProject + 1]
    : undefined;
const project = projects[currentProject];
---

<NavShell>
  <a class="text-congress-900 hover:text-congress-950" href="/#hero"> Home </a>
  {
    previousProject && (
      <a
        class="font-medium text-congress-900 hover:text-congress-950"
        href={getProjectUrl(previousProject)}>
        <span class="hidden md:block">Previous Project</span>
        <span class="block md:hidden">Previous</span>
      </a>
    )
  }
  <a class="active text-congress-900 hover:text-congress-950" href="#top">
    {project.data.title}
  </a>
  {
    nextProject && (
      <a
        class="font-medium text-congress-900 hover:text-congress-950"
        href={getProjectUrl(nextProject)}>
        <span class="hidden md:block">Next Project</span>
        <span class="block md:hidden">Next</span>
      </a>
    )
  }
</NavShell>

<style>
  .active {
    @apply font-bold italic text-congress-950;
  }
</style>
