---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import { imagePreview } from '../../images';

type Props = { project: CollectionEntry<'projects'> };

const { project } = Astro.props;
---

<li class="max-w-full w-[520px]">
  <a
    class="flex flex-col gap-2 hover:text-congress-950 group project-preview cursor-pointer"
    href={`/projects/${project.slug}/`}>
    <div
      class="overflow-clip bg-congress-50 relative rounded-2xl border border-congress-400">
      <Image
        class="bg-none"
        src={imagePreview(project.slug)}
        alt=""
        format="webp"
        width={600}
        height={500}
      />
      <div
        class="overlay absolute transition-colors group-hover:bg-congress-950/20 ease-linear top-0 bottom-0 left-0 right-0">
      </div>
    </div>
    <div>
      <h3 class="font-bold text-xl">{project.data.title}</h3>
      <p class="date">
        {project.data.categories.join(', ')}
      </p>
    </div>
  </a>
</li>
