---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import { imagePreview } from '../../images';

type Props = { project: CollectionEntry<'projects'>; delay?: number };

const { project, delay = 0 } = Astro.props;
---

<li
  class="w-[520px] max-w-64 translate-x-[100vw] opacity-0 md:max-w-full"
  style={{ animationDelay: `${delay}ms` }}
  data-animate-in
  data-animate-in-element="projects-list">
  <a
    class="project-preview group flex cursor-pointer flex-col gap-2 hover:text-congress-950"
    href={`/projects/${project.slug}/`}>
    <div
      class="relative overflow-clip rounded-2xl border border-congress-400 bg-congress-50">
      <Image
        class="bg-none"
        src={imagePreview(project.slug)}
        alt=""
        format="webp"
        width={600}
        height={500}
      />
      <div
        class="overlay absolute bottom-0 left-0 right-0 top-0 transition-colors ease-linear group-hover:bg-congress-950/20">
      </div>
    </div>
    <div>
      <h3 class="text-xl font-bold">{project.data.title}</h3>
      <p class="date">{project.data.categories.join(', ')}</p>
    </div>
  </a>
</li>
