---
import BaseHead from '@components/BaseHead.astro';
import Squiglies from '@components/Squiglies.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="relative">
    <main class="flex h-dvh w-screen flex-col items-center gap-4 pt-60">
      <h1 class="font-display text-5xl font-bold text-congress-950">
        Feeling lost?
      </h1>
      <p class="text-xl font-medium tracking-wide text-congress-800">
        Don't worry, we'll get you back on track.
      </p>
      <a
        class="rounded-md bg-congress-900 px-4 py-2 text-sm text-autumn-50 hover:bg-congress-950"
        href="/">
        Find your way back
      </a>
    </main>
    <Squiglies hide={[2]} />
  </body>
</html>
