---
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import ProjectsNav from '@components/projects/ProjectsNav.astro';
import Squiglies from '@components/Squiglies.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@consts';
import type { CollectionEntry } from 'astro:content';
import { z } from 'astro:content';

export const prerender = false;

if (Astro.request.method.toUpperCase() === 'POST') {
  const body = await Astro.request.formData();
  Astro.cookies.set('PASSWORD', body.get('password') as string);
  console.log(body.get('source'));
  return Astro.redirect(body.get('source') as string);
}

const source = Astro.url.searchParams.get('source');
const wrong = Astro.url.searchParams.get('wrong') === 'true';
z;
const slug = (source ?? '')
  .split('/')
  .slice(-1)[0] as CollectionEntry<'projects'>['slug'];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="relative h-dvh">
    <header>
      <Header />
    </header>
    <main
      class="flex w-screen flex-col items-center gap-4 px-4 pt-24 md:px-0 md:pt-60">
      <div class="max-w-2xl space-y-4">
        <h1 class="text-2xl font-bold text-congress-950">
          This project is confidential
        </h1>
        <p>
          If you would like to get access to view the project details, please
          reach out to
          <a
            href="mailto:info@arumi.design"
            class="text-congress-900 underline">
            info@arumi.design</a
          > and enter it below.
        </p>
        <form method="post" action="/login" class="flex gap-4">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            class="ring-offset-background placeholder:text-muted-foreground flex h-10 w-fit rounded-md border border-autumn-300 bg-autumn-50 px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-autumn-300 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          />
          <input id="source" name="source" type="hidden" value={source} />
          <button
            type="submit"
            class="rounded-md bg-congress-900 px-4 py-2 text-sm text-autumn-50 hover:bg-congress-950">
            Submit
          </button>
        </form>
        {wrong && <p class="text-autumn-700">Wrong password!</p>}
      </div>
      <ProjectsNav slug={slug} />
    </main>
    <footer class="fixed bottom-0 w-full">
      <Footer />
    </footer>
    <Squiglies hide={[2]} />
  </body>
</html>
