---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import headshot from '../assets/headshot.jpg';
---

<section class="w-full px-4 py-16 sm:px-16" id="about-me">
  <h2
    class="translate-y-[300%] pb-4 font-display text-3xl opacity-0"
    data-animate-in>
    About Me
  </h2>
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-6">
    <div
      class="relative flex h-full translate-y-1/2 items-center justify-center px-9 py-6 opacity-0 md:w-1/2"
      data-animate-in>
      <Image
        class="max-h-96 w-full max-w-96 rounded-full opacity-100"
        data-animate-in
        src={headshot}
        width="3000"
        height="3000"
        alt="Arumi headshot"
        format="webp"
      />
      <div class="absolute h-full w-full">
        <Icon class="m-auto h-full w-auto" name="bubbles" />
      </div>
    </div>
    <div
      class="flex w-full translate-y-1/2 flex-col gap-6 text-base opacity-0 delay-150 md:w-1/2 lg:text-lg"
      data-animate-in>
      <p>
        Hi, I'm Arumi, a Product Designer with a knack for crafting
        user-friendly and aesthetically pleasing designs. My design philosophy
        combines empathy with innovation, crafting intuitive products that truly
        connect with users. When I'm not designing, I'm a globe-trotter, a
        devoted dog mom, and a creator of engaging short-form content. Let's
        collaborate and turn creative visions into reality!
      </p>
    </div>
  </div>
</section>
