---
import { Icon } from 'astro-icon/components';
import { LINKEDIN_URL } from 'src/consts';
---

<section
  class="flex w-full flex-col items-center gap-12 px-4 py-16 text-center sm:px-16"
  id="contact">
  <h2 class="max-w-lg font-display text-5xl font-bold">
    Have an exciting opportunity?
  </h2>
  <p class="max-w-xl text-lg">
    I'm always interested in hearing about exciting projects. If you're working
    on a project that could benefit from my expertise or requires a unique
    perspective and skill set, I'd love to hear about it. Interested in
    collaborating? I'm just an email away.
  </p>
  <div class="mb-8 space-x-4">
    <button
      class="inline-flex items-center justify-center rounded bg-congress-900 px-4 py-2 text-autumn-50 hover:bg-congress-950">
      <Icon class="h-5 w-5" name="mail" />
    </button>
    <a
      class="inline-flex cursor-pointer items-center justify-center rounded bg-congress-900 px-4 py-2 text-autumn-50 hover:bg-congress-950"
      href={LINKEDIN_URL}
      target="_blank">
      <Icon class="inline h-5 w-5" name="linkedin" />
    </a>
  </div>
</section>
