---
import { Icon } from 'astro-icon/components';
import { LINKEDIN_URL } from '../consts';
---

<section
  class="text-center w-full flex flex-col gap-12 items-center px-4 sm:px-16 py-16"
  id="contact">
  <h2 class="text-5xl font-display font-bold max-w-lg">
    Have an exciting opportunity?
  </h2>
  <p class="max-w-xl text-lg">
    I'm always interested in hearing about exciting projects. If you're working
    on a project that could benefit from my expertise or requires a unique
    perspective and skill set, I'd love to hear about it. Interested in
    collaborating? I'm just an email away.
  </p>
  <div class="space-x-4 mb-8">
    <button
      class="inline-flex hover:bg-congress-950 items-center justify-center px-4 py-2 rounded bg-congress-900 text-autumn-50">
      <Icon class="h-5 w-5" name="mail" />
    </button>
    <a
      class="inline-flex cursor-pointer hover:bg-congress-950 items-center justify-center px-4 py-2 rounded bg-congress-900 text-autumn-50"
      href={LINKEDIN_URL}
      target="_blank">
      <Icon class="h-5 w-5 inline" name="linkedin" />
    </a>
  </div>
</section>
