---
import { Icon } from 'astro-icon/components';
import { LINKEDIN_URL } from 'src/consts';
---

<section
  class="flex w-full flex-col items-center gap-12 px-4 py-16 text-center sm:px-16"
  id="contact">
  <h2
    class="max-w-lg translate-y-[200%] text-4xl font-bold opacity-0 md:text-5xl"
    data-animate-in>
    Have an exciting opportunity?
  </h2>
  <p
    class="max-w-xl translate-y-full text-base opacity-0 delay-150 lg:text-lg"
    data-animate-in>
    I'm always interested in hearing about exciting projects. If you're working
    on a project that could benefit from my expertise or requires a unique
    perspective and skill set, I'd love to hear about it. Interested in
    collaborating? I'm just an email away.
  </p>
  <div
    class="mb-8 translate-y-[200%] space-x-4 opacity-0 delay-300"
    data-animate-in>
    <button
      class="with-tooltip inline-flex items-center justify-center rounded bg-congress-900 px-4 py-2 text-autumn-50 hover:bg-congress-950"
      data-button-copy-text="info@arumi.design">
      <Icon class="h-5 w-5" name="mail" />
    </button>
    <a
      class="inline-flex cursor-pointer items-center justify-center rounded bg-congress-900 px-4 py-2 text-autumn-50 hover:bg-congress-950"
      href={LINKEDIN_URL}
      target="_blank">
      <Icon class="inline h-5 w-5" name="linkedin" />
    </a>
  </div>
</section>

<script>
  const copyButtons = document.querySelectorAll<HTMLButtonElement>(
    'button[data-button-copy-text]',
  );
  copyButtons.forEach((button) => {
    button.addEventListener('click', () => {
      const copyData = button.dataset.buttonCopyText;
      if (copyData) {
        console.log('copied the gd text');
        navigator.clipboard.writeText(copyData);

        button.classList.add('show');

        setTimeout(() => {
          button.classList.remove('show');
        }, 5000);
      }
    });
  });
</script>

<style>
  .with-tooltip {
    @apply relative after:absolute after:-top-[120%] after:-z-10 after:w-fit after:text-nowrap after:rounded-md after:border after:border-autumn-300 after:bg-autumn-100 after:p-2 after:text-xs after:text-congress-950 after:opacity-0 after:content-['Email_copied!'];
  }

  .show {
    @apply z-0 after:opacity-100;
  }
</style>
