---
import Socials from './Socials.astro';

const today = new Date();
---

<footer class="flex w-full justify-between px-16 py-8">
  <span>
    &copy; {today.getFullYear()} Arumi Designs.
  </span>
  <Socials class="flex gap-4" />
</footer>
