---
import { Icon } from 'astro-icon/components';
---

<header class="px-16 py-8" id="home">
  <nav class="flex justify-between">
    <div class="space-x-4">
      <a
        class="hover:text-congress-950 transition-colors ease-in-out inline-block"
        href="https://www.linkedin.com/in/arumi-choudhary/">
        <Icon name="linkedin" />
      </a>
      <a
        class="hover:text-congress-950 transition-colors ease-in-out inline-block"
        href="https://www.instagram.com/designsbyarumi/">
        <Icon name="instagram" />
      </a>
      <a
        class="hover:text-congress-950 transition-colors ease-in-out inline-block"
        href="https://www.tiktok.com/@designsbyarumi/">
        <Icon name="tiktok" />
      </a>
    </div>
    <div>
      <Icon class="text-7xl" name="arumi.design-logo" />
    </div>
    <div></div>
  </nav>
</header>
