---
import { Icon } from 'astro-icon/components';
import Socials from './Socials.astro';
---

<header class="px-16 py-8 w-full" id="home">
  <nav class="flex justify-center relative">
    <Socials class="hidden md:flex gap-4 absolute top-0 left-0" />
    <div>
      <a href="/">
        <Icon class="text-7xl" name="arumi.design-logo" />
      </a>
    </div>
  </nav>
</header>
