---
import { Icon } from 'astro-icon/components';
---

<header class="px-16 py-8">
  <nav class="flex justify-between">
    <div class="flex gap-4">
      <a href="https://www.linkedin.com/in/arumi-choudhary/">
        <Icon name="linkedin" />
      </a>
      <a href="">
        <Icon name="instagram" />
      </a>
      <a>
        <Icon name="tiktok" />
      </a>
    </div>
    <div>
      <Icon class="text-7xl" name="arumi.design-logo" />
    </div>
    <div></div>
  </nav>
</header>
