---
import { Icon } from 'astro-icon/components';
---

<section class="flex flex-col items-center relative pb-16">
  <h1
    class="mb-20 text-7xl relative text-congress-950 font-display text-center">
    Designing with purpose,<br />
    Delivering with
    <span class="relative">
      impact
      <span class="impact">
        impact
        <Icon
          class="w-full text-autumn-400 h-auto -translate-y-[3.25px] -z-20"
          name="underline"
        />
      </span>
    </span>
  </h1>
  <p class="text-2xl text-center mb-12">
    So happy you are here!<br /><br />I am Arumi Choudhary,<br /> a Product Designer
    based in Austin, Texas
  </p>
  <button
    class="bg-congress-900 hover:bg-congress-950 transition-colors ease-in-out shadow-md text-autumn-50 px-4 rounded-lg py-2">
    View my work
  </button>
</section>

<style>
  .impact {
    @apply absolute left-[2px] -z-10;
    -webkit-text-fill-color: #fcf7f0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: currentColor;
  }
</style>
