---
import { Icon } from 'astro-icon/components';
---

<section
  class="relative flex w-full flex-col items-center px-4 pb-16 sm:px-16"
  id="hero">
  <h1
    class="relative mb-20 text-center font-display text-7xl text-congress-950">
    Designing with purpose,<br />
    Delivering with
    <span class="relative">
      impact
      <span class="impact">
        impact
        <Icon
          class="-z-20 h-auto w-full -translate-y-[3.25px] text-autumn-400"
          name="underline"
        />
      </span>
    </span>
  </h1>
  <p class="mb-12 text-center text-2xl">
    So happy you are here!<br /><br />I am Arumi Choudhary,<br />
    a Product Designer based in Austin, Texas
  </p>
  <buttons
    class="rounded-lg bg-congress-900 px-4 py-2 text-autumn-50 shadow-md transition-colors ease-in-out hover:bg-congress-950"
    data-nav-id="projects"
    data-nav-set-active="projects-nav-item">
    View my work
  </buttons>
</section>

<style>
  .impact {
    @apply absolute left-[2px] -z-10;
    -webkit-text-fill-color: #fcf7f0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: currentColor;
  }
</style>
