---
import NavShell from '@components/NavShell.astro';
---

<NavShell>
  <button
    class="active transition-colors font-medium ease-in-out text-congress-900 hover:text-congress-950"
    data-nav-id="hero"
    data-nav-scroll-to="home">
    Home
  </button>
  <button
    class="transition-colors ease-in-out font-medium text-congress-900 hover:text-congress-950"
    data-nav-id="about-me">
    About me
  </button>
  <button
    id="projects-nav-item"
    class="transition-colors ease-in-out font-medium text-congress-900 hover:text-congress-950"
    data-nav-id="projects">
    Projects
  </button>
  <button
    class="transition-colors ease-in-out font-medium text-congress-900 hover:text-congress-950"
    data-nav-id="contact">
    Contact
  </button>
</NavShell>

<style>
  .active {
    @apply font-bold italic text-congress-950;
  }
</style>

<script src="@scripts/nav.ts"></script>
