<div
  class="group nav-parent pointer-events-none md:pointer-events-auto fixed bottom-0 h-40 z-10 w-full">
  <nav
    class="rounded-full pointer-events-auto flex gap-4 w-fit mx-auto bg-congress-50 transition-transform ease-linear outline outline-congress-400 px-6 py-3 md:translate-y-[108px]">
    <button
      class="active transition-colors font-medium ease-in-out text-congress-900 hover:text-congress-950"
      data-nav-id="hero"
      data-nav-scroll-to="home">
      Home
    </button>
    <button
      class="transition-colors ease-in-out font-medium text-congress-900 hover:text-congress-950"
      data-nav-id="about-me">
      About me
    </button>
    <button
      id="projects-nav-item"
      class="transition-colors ease-in-out font-medium text-congress-900 hover:text-congress-950"
      data-nav-id="projects">
      Projects
    </button>
    <button
      class="transition-colors ease-in-out font-medium text-congress-900 hover:text-congress-950"
      data-nav-id="contact">
      Contact
    </button>
  </nav>
</div>

<style>
  .nav-parent:hover nav {
    @apply translate-y-0;
  }

  .active {
    @apply font-bold italic text-congress-950;
  }
</style>

<script src="../scripts/nav.ts"></script>
