---
import { getCollection } from 'astro:content';
import ProjectPreview from './projects/ProjectPreview.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<section class="w-full overflow-hidden py-16" id="projects" data-animate-in>
  <h2
    class="translate-y-[300%] px-4 pb-12 font-display text-3xl opacity-0 sm:px-16"
    data-animate-in>
    Projects
  </h2>
  <div
    id="projects-list"
    class="w-full translate-y-[20%] overflow-auto pl-4 opacity-0 sm:ml-16"
    data-animate-in>
    <ul class="inline-flex gap-8">
      {
        projects.map((project, index) => (
          <ProjectPreview project={project} delay={index * 150} />
        ))
      }
      <li class="w-8 sm:w-24"></li>
    </ul>
  </div>
</section>
