---
import { getCollection } from 'astro:content';
import ProjectPreview from './projects/ProjectPreview.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<section class="w-full overflow-hidden py-16" id="projects">
  <h2 class="px-4 pb-12 font-display text-3xl sm:px-16">Projects</h2>
  <div class="w-full overflow-auto pl-4 sm:ml-16">
    <ul class="inline-flex gap-8">
      {projects.map((project) => <ProjectPreview project={project} />)}
      <li class="w-8 sm:w-24"></li>
    </ul>
  </div>
</section>
