---
import { getCollection } from 'astro:content';
import ProjectPreview from './projects/ProjectPreview.astro';

const projects = (await getCollection('projects')).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<section class="py-16 w-full overflow-hidden" id="projects">
  <h2 class="px-16 text-3xl font-display pb-12">Projects</h2>
  <div class="ml-16 w-full overflow-auto">
    <ul class="inline-flex gap-8">
      {projects.map((project) => <ProjectPreview project={project} />)}
      <li class="w-24"></li>
    </ul>
  </div>
</section>
