---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { INSTAGRAM_URL, LINKEDIN_URL, TIKTOK_URL } from 'src/consts';

interface Props extends HTMLAttributes<'div'> {}

const props = Astro.props;
---

<div {...props}>
  <a
    class="inline-block transition-colors ease-in-out hover:text-congress-950"
    href={LINKEDIN_URL}
    target="_blank">
    <Icon name="linkedin" />
    <span class="sr-only">Linkedin Profile</span>
  </a>
  <a
    class="inline-block transition-colors ease-in-out hover:text-congress-950"
    href={INSTAGRAM_URL}
    target="_blank">
    <Icon name="instagram" />
    <span class="sr-only">Instagram Profile</span>
  </a>
  <a
    class="inline-block transition-colors ease-in-out hover:text-congress-950"
    href={TIKTOK_URL}
    target="_blank">
    <Icon name="tiktok" />
    <span class="sr-only">TikTok Profile</span>
  </a>
</div>
