---

---

<div
  class="p-5 max-w-full prose prose-p:!text-black prose-p:!mb-0 prose-p:!mt-2 prose-ul:!mt-2 prose-ul:mb-0 prose-headings:!text-black prose-li:marker:!text-black prose-ul:!text-black bg-congress-50 shadow-lg my-16 py-">
  <slot />
</div>

<style>
  ul {
    margin: 0 !important;
  }
</style>
