---

---

<div
  class="prose my-16 max-w-full bg-congress-50 p-5 py-16 shadow-lg prose-headings:!text-black prose-p:!mb-0 prose-p:!mt-2 prose-p:!text-black prose-ul:!mt-2 prose-ul:mb-0 prose-ul:!text-black prose-li:marker:!text-black">
  <slot />
</div>
