---
type Props = {
  header: string;
  subHeading?: string;
};

const { header, subHeading } = Astro.props;
---

<div class="my-4 flex flex-col md:flex-row md:gap-2">
  <div class="md:w-1/2">
    <h2 class="mt-5 font-bold text-congress-950">
      {header}
    </h2>
    <p>
      {subHeading}
    </p>
  </div>
  <div class="md:w-1/2">
    <slot />
  </div>
</div>

<style>
  h2 {
    @apply md:text-2xl !important;
  }
</style>
