---
import computerStem from '@assets/computer-stem.webp';
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';

interface Props extends HTMLAttributes<'div'> {
  src: string;
}

const { src, ...props } = Astro.props;
---

<div
  class:list={[
    'relative flex flex-col items-center justify-center',
    props.class,
  ]}
  {...props}>
  <div
    class="relative aspect-video w-full rounded-t-2xl border-[16px] border-solid border-black md:border-[24px] lg:border-[28px]">
    <iframe title="Tim's Experiments" class="aspect-video w-full" src={src}>
    </iframe>
  </div>
  <div
    class="absolute -top-0 left-0 right-0 flex h-4 items-center justify-center md:h-6 lg:h-7">
    <Icon class="h-2 w-2" name="lens" />
  </div>
  <div
    class="flex h-10 w-full items-center justify-center rounded-b-2xl bg-[linear-gradient(to_right,_#A2A3A7,_#DCDEDE)] md:bg-black">
    <Icon class="h-3/5 w-auto text-black" name="apple-logo" />
  </div>
  <Image class="m-auto h-auto w-2/5" src={computerStem} alt="" />
</div>
